/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_33e91d570f5ab56d7701c24d957461a1.eot");
  src: url("../fonts/fontcustom_33e91d570f5ab56d7701c24d957461a1.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_33e91d570f5ab56d7701c24d957461a1.woff") format("woff"),
       url("../fonts/fontcustom_33e91d570f5ab56d7701c24d957461a1.ttf") format("truetype"),
       url("../fonts/fontcustom_33e91d570f5ab56d7701c24d957461a1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_33e91d570f5ab56d7701c24d957461a1.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-piguly_2:before,
.icon-probowy:before,
.icon-procek_2:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-piguly_2:before { content: "\f100"; }
.icon-probowy:before { content: "\f101"; }
.icon-procek_2:before { content: "\f102"; }
